  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <h1>Music Mania</h1>
    <% if (user) { %>
      <a
      href="/profiles" <%- title === 'Music Maniacs' ? 'class="active"' : '' %>
      >Music Maniacs</a>
      
      <a
      href="/profiles/:id" <%- title === 'My Playlists' ? 'class="active"' : '' %>
      >My Playlists</a>
      
      <a
      href="/songs" <%- title === 'Browse Music' ? 'class="active"' : '' %>
      >Browse Music</a>
      
      <a
      href="/songs/new" <%- title === 'Add Songs' ? 'class="active"' : '' %>
      >Add Songs</a> 
      
      <a
      href="/playlists" <%- title === 'Browse Playlists' ? 'class="active"' : '' %>
      >Browse Playlists</a>
      
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
      <% } %>
    </nav>
    