<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1 class="animate__animated animate__zoomInDown"><%= isSelf ? title : `${profile.name}'s Playlists!` %></h1>
  <% if (isSelf) { %>
    <form action="/playlists/new">
      <button type="submit">Add Playlist </button>
    </form><br>
  <% } %>
  <% playlists.forEach (p => { %>
    <form id="profile-playlists">
      <image id="profile-playlists-image" 
      src="https://i.pinimg.com/236x/d5/92/16/d59216f4545f9b175e4c61db4a9e8308--music-images-music-pictures.jpg" 
      alt="Music tree"></image>
      <h3><%= p.name %></h3>
      <h3 id="profile-show-description" ><%= p.description %></h3>
      <h3>
        <a id="profile-a-tag" href="/playlists/<%= p._id %>">
          Details
        </a>
      </h3>        
    </form><br>
  <% }) %>  
</main> 

<%- include('../partials/footer') %>