<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  
  <h1><%= title %></h1>
  
  <% songs.forEach(song => { %>
    <form action="/songs/<%= song._id %>" method="POST">
      <label name="name"><%= song.name %></label><br>
      <label name="artist"><%= song.artist %></label><br>
      <label name="genre"><%= song.genre %></label><br>
      <label>Chorus</label><br>
      <p><%= song.chorus%></p><br>
      <select name="playlistId">
        <% profile.playlists.forEach( p => { %>
          <option value="<%= p._id %>"><%= p.name %></option>
          <% }) %>
        </select>
        <button>App to Playlist</button>
      </form>
      <% }) %>      
</main>
<%- include('../partials/footer') %>