<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>

<% songs.forEach(song => { %>
  <form action="/songs/<%= song._id %>" method="POST">
    <h3><%= song.name %></h3><br>
    <h3><%= song.artist %></h3><br>
    <h3><%= song.genre %></h3><br>
    <h3>Chorus</h3><br>
    <p><%= song.chorus%></p><br>
    <select name="playlistId">
      <% profile.playlists.forEach( p => { %>
      <option value="<%= p._id %>"><%= p.name %></option>
      <% }) %>
    </select>
    <button>App to Playlist</button>
  </form>
<% }) %>

<%- include('../partials/footer') %>