<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/songs/index.css">
<%- include('../partials/nav') %>
<main> 
  <h1><%= title %></h1>  
  <% songs.forEach(song => { %>
    <form action="/songs/<%= song._id %>" method="POST">
      <h2 name="name"><%= song.name %></h2><br>
      <h3 name="artist"><%= song.artist %></h3><br>
      <h2 name="genre"><%= song.genre %></h2><br>
      <h2>Chorus:</h2><br>
      <p><%= song.chorus%></p><br>
      <select name="playlistId">
        <% profile.playlists.forEach( p => { %>
          <option value="<%= p._id %>"><%= p.name %></option>
        <% }) %>
      </select>
      <button>App to Playlist</button>
    </form><br>
  <% }) %>      
</main>
<%- include('../partials/footer') %>