<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<p><%= owner %></p>
<form action="/playlists/<% playlist._id %>?_method=PUT" method="POST">
  <label >Name:</label>
  <input name="name" type="text" value="<%= playlist.name %>"><br>
  <label >Description:</label><br>
  <textarea name="description" type="text" value="<%= playlist.description %>"> </textarea><br>
  <button type="submit">Update Playlist</button>
  <input hidden name="owner" value="<%= owner %>">
</form>

<%- include('../partials/footer') %>