<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<% if (playlist.owner.equals(user?.profile._id)) { %>
  <h4>Want more Songs on your Playlist? Go to Browse Music!</h4>
<% } %>



<form>
  <%  %>
</form>

<% if (playlist.owner.equals(user?.profile._id)) { %>
    <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
      <button type="submit">
        Delete Playlist
      </button>
    </form>
    <form action="/playlists/<%= playlist._id %>/edit">
      <button type="submit">
        Edit Playlist
      </button>
    </form>
<% } %>

<%- include('../partials/footer') %>